{% extends 'base.html' %}

{% block title %}about{% endblock title %}
{% block aboutactive %}active{% endblock aboutactive %}
{% block body %}
<div class="container mt-5">
<div class="blog-post">
        <h1 class="blog-post-title">About Us</h1>
        <h2>Welcome to the world of Coders!!</h2>
        <p>
How many times were you frustrated while looking out for a good collection of programming/algorithm/interview questions? What did you expect and what did you get? This portal has been created to provide well written,
 well thought and well explained solutions for selected questions.</p>
</div>
</div>
{% endblock body %}