{% extends 'base.html' %} {% block title %}Home{% endblock title %} {% block homeactive %}active{% endblock homeactive %} {% block body %}
<div class="container mt-5">
  <div class="jumbotron ">
    <h1 class="display-4">Welcome to Coder!</h1>
    <p class="lead">
      Here you can find blogs on different programming languages.
    </p>
    <hr class="my-4" />
    <p>
      A Computer Science portal for students. It contains well written, well thought and well explained computer science and programming articles, 
      quizzes and practice,competitive programming,company interview Questions
    </p>
    <a class="btn btn-primary btn-lg" href="/blog/" role="button">Go to Blog</a>
  </div>
</div>

{% endblock body %}
